pyyaml
torch==1.10.1
torchvision==0.11.2
numpy
matplotlib
brewer2mpl
opencv-python
opencv-contrib-python
tensorboard==1.14
omegaconf
tqdm
future  # tensorboard dependency
kornia
shapely
scikit-image
h5py
